.container {
    display: flex;
    flex-direction: column;
    position: relative
}

.container h1{
    font-size: 2em;
}

table{
    font-size: 1.2em;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #000000;
    color: white;
}
tr:hover {
    background-color: #eeeded;
}

.btnMinecraft{
    border: none !important;
    right: 50% !important;
    bottom: 10%;
    width: 500px;
    height: 100px;

    border-radius: 30px;
    color: black;
    background-color: #6FB238;
    align-self: center;
    font-size: 2em;

}