@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
}


/* ***** NAV ***** */
nav{
    display: flex;
    margin-bottom: 10px;
}
.cajaLogo{
    display: flex;
    align-items: end;
    width: 15%;
}
.cajaLogo img{
    user-select: none;
    width: 50px;
    max-width: 50px;
}
.cajaLogo h1{
    user-select: none;
}
.cajitanav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 80%;
    align-items: end;
    padding-bottom: 3px;
}
.cajitanav h3{
    font-weight: normal;
    border-bottom: 3px solid transparent;
    transition: border-bottom 300ms ease-in-out;
    user-select: none;
}
.cajitanav h3:hover{
    border-bottom: 3px solid;
    margin: 0;
}

/* Video */
#video{
    height: 92vh;
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #video video{
    border-radius: 55px;
} */
#video div{
    color: white;
    width: 40%;
}
#video div .Instalar{
    color: black;
    width: 10%;
}


/* ***** Cartas ***** */
section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 30px 80px;
    font-family: "Roboto";
}
.cartas{
    background-color: rgb(0, 0, 0);
    height: 55vh;
    border-radius: 40px;
    position: relative;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}
.cartas:hover{
    transform: scale(1.025);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cartas img{
    width: 100%;
    height: 70%;
    border-radius: 33px;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
}
.infoCarta{
    height: 50vh;
    color: white;
    padding: 10px;
}
.infoCarta h3{
    font-size: 1em;
}
.infoCarta p{
    font-size: 0.9em;
}
.Instalar{
    border-radius: 10px;
    color: black;
    height: 7%;
    width: 90px;
    background-color: rgb(253, 255, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
}



/* Mapa */
#mapa{
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    margin: 0px;
}
#mapa h1{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 2em;
    color: white;
}
#mapa iframe{
    width: 60%;
    height: 60%;
    border-radius: 33px;
}




/* footer */
footer{
    display: flex;
    background-color: rgb(230, 230, 230);
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}


